# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
server/node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug & logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log
.eslintcache

# system / OS
.DS_Store
Thumbs.db
*.pem

# temporary files
*.tmp
*.temp
*~
*.swp

# env files
.env
.env.*
!.env.example

# typescript
*.tsbuildinfo

# editor & debugger temporary directories
.vscode/.react

# generated native folders
/ios
/android
.claude/settings.json

